<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!--
            Nur im Debug-Build: Design-Galerie für die Screenshot-Prüfung. Exportiert, damit sie per
            "adb shell am start -n …" startbar ist; im Release-Build gibt es sie nicht.
        -->
        <activity
            android:name="de.lembergmax.gitmax.debug.GalleryActivity"
            android:exported="true"
            android:theme="@style/Theme.GitMax" />
    </application>
</manifest>
